
<%= simple_form_for(@license_type) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :code, input_html: {class: 'mb-1'} %>
    <h6>Description</h6>
    <%= f.rich_text_area :description, label: 'Description from DABC', placeholder: 'Description goes here ...', label_html: {class: 'mt-2'} %>
    <%= f.input :url %>
    <%= f.input :hours %>
    <%= f.input :alcohol_types %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
