<main data-coords="<%= @lat_lng %>">
  <div class="row">
    <div class="col">
      <div data-controller="maps" data-action="google-maps-callback@window->maps#initMap">
        <div class="map" data-maps-target="map" style="height: 400px; width: 400px;"></div>
      </div>
    </div>
    <div class="col">
      <div data-controller="geolocation">
        <button data-action="click->geolocation#locate" class="btn btn-outline-primary">Locate me</button>
      </div>

      <div class="m-4">
        <ul class="nav nav-tabs" id="myTab">
          <li class="nav-item">
            <a href="#home" class="nav-link active" data-bs-toggle="tab">Geolocate</a>
          </li>
          <li class="nav-item">
            <a href="#profile" class="nav-link" data-bs-toggle="tab">Enter Address</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="home">
            <h4 class="mt-2">Geolocate</h4>
            <div >

              <%= render "pages/geolocate_form" %>
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <h4 class="mt-2">Enter Address</h4>
              <%= render "pages/address_form" %>
          </div>
        </div>
      </div>

      <div class="mt-4" id="brewery-list">
        <h5 data-lat-lng="#{@lat_lng}">List of locations</h5>
        <ul>
          <% @locations.each do |l| %>
            <li
              class="bar-data-list-item"
              data-latitude="<%= l.latitude %>"
              data-longitude="<%= l.longitude %>"
              data-name="<%= l.name %>"
            >
             <p><%= link_to l.name.titleize, location_path(l.id) %></p>
             <p><%= l.address.titleize%>, <%= l.city.titleize %></p>

            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>


</main>