<!DOCTYPE html>
<html>
  <head>
    <title>BarData</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUnPny2tE-68azsl816xMDMhTkOLlp0wY&callback=initMap&libraries=places" async defer data-turbolinks-eval="false"></script>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </div>
  </body>
</html>
